<div class="page-body">
  <h1>Manage {{ name }}</h1>
  <button mat-flat-button color="primary" type="button" routerLink="..">
    <mat-icon>arrow_back</mat-icon>
    Back
  </button>
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true" *ngIf="(authInfo$ | async)?.username !== name">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>settings</mat-icon>
          Basic Permissions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-slide-toggle [disabled]="(authInfo$ | async)?.username === name"
                        [ngModel]="(userDetails$ | async)?.enabled"
                        (toggleChange)="toggleEnabled()">
        Enabled
      </mat-slide-toggle>
      <mat-slide-toggle [disabled]="(authInfo$ | async)?.username === name"
                        [ngModel]="(userDetails$ | async)?.admin"
                        (toggleChange)="toggleAdmin()">
        Admin
      </mat-slide-toggle>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>tune</mat-icon>
          Roles
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-slide-toggle *ngFor="let role of (roleList$ | async)"
                        [checked]="(userDetails$ | async)?.roles?.includes(role.name)"
                        (toggleChange)="toggleRole(role.name)">
        @if (role.enabled) {
          {{ role.name }}
        } @else {
          <i>{{ role.name }}</i>
        }
      </mat-slide-toggle>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="false" *ngIf="(authInfo$ | async)?.username !== name">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>lock_reset</mat-icon>
          Reset Password
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="pwForm" (ngSubmit)="resetPassword()">
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
        <br/>
        <button mat-raised-button type="submit" color="primary" [disabled]="!pwForm.valid">
          <mat-icon>check</mat-icon>
          Change Password
        </button>
      </form>
    </mat-expansion-panel>
  </mat-accordion>

</div>
