.page-body {
  max-width: 800px;
  padding: 2em;
  margin: 0 auto;

  mat-icon {
    vertical-align: bottom;
    margin-bottom: -2px;
  }

  >button {
    margin-bottom: 2em;
  }

}

mat-slide-toggle {
  margin: 8px 0;
  display: block;
}

mat-panel-title {
  mat-icon {
    margin-right: 1em;
  }
}
