<div class="page-body">
  <h1>Manage {{ name }}</h1>
  <button mat-flat-button color="primary" type="button" routerLink="..">
    <mat-icon>arrow_back</mat-icon>
    Back
  </button>
  <mat-card>
    <mat-card-content>
      <h2>Basic Permissions</h2>
      <mat-slide-toggle [disabled]="(authInfo$ | async)?.username === name"
                        [ngModel]="(userDetails$ | async)?.enabled"
                        (toggleChange)="toggleEnabled()">
        Enabled
      </mat-slide-toggle>
      <mat-slide-toggle [disabled]="(authInfo$ | async)?.username === name"
                        [ngModel]="(userDetails$ | async)?.admin"
                        (toggleChange)="toggleAdmin()">
        Admin
      </mat-slide-toggle>
      <h2>Roles</h2>
      <mat-slide-toggle *ngFor="let role of (roleList$ | async)"
                        [checked]="(userDetails$ | async)?.roles?.includes(role.name)"
                        (toggleChange)="toggleRole(role.name)">
        @if (role.enabled) {
          {{ role.name }}
        } @else {
          <i>{{ role.name }}</i>
        }
      </mat-slide-toggle>
    </mat-card-content>
  </mat-card>
</div>
