<div class="page-body">
  <button mat-button type="button" routerLink="/">
    <mat-icon>arrow_back_ios</mat-icon>
    Back
  </button>
  <mat-card>
    <mat-card-header>
      <h1>Change Password</h1>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="pwForm" (ngSubmit)="onChangePassword()">
        <mat-form-field>
          <mat-label>Old Password</mat-label>
          <input matInput type="password" formControlName="oldPassword" required>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" required>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required>
        </mat-form-field>
        <br/>
        <p class="failureBanner" *ngIf="pwError">
          <mat-icon>warning</mat-icon>
          {{ pwError }}
        </p>
        <p class="successBanner" *ngIf="pwSuccess">
          <mat-icon>warning</mat-icon>
          Password Change Successful
        </p>
        <button mat-raised-button type="submit" color="primary"
                [disabled]="!pwForm.valid || pwForm.value.newPassword != pwForm.value.confirmPassword">
          <mat-icon>check</mat-icon>
          Change Password
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
