<mat-toolbar color="primary">
  <button mat-button type="button" routerLink="/">my.awae.ch</button>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="toolbarSettingsMenu" *ngIf="auth.authInfo$ | async">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #toolbarSettingsMenu="matMenu">
  <button mat-menu-item routerLink="/account">
    <mat-icon>person</mat-icon>
    Account Settings
  </button>
  <button mat-menu-item *ngIf="(auth.authInfo$ | async)?.admin" routerLink="/users">
    <mat-icon>manage_accounts</mat-icon>
    Manage Users
  </button>
  <button mat-menu-item (click)="onLogout()">Log Out
    <mat-icon>logout</mat-icon>
  </button>
</mat-menu>

<div class="page-body">
  <router-outlet></router-outlet>
</div>

