<mat-toolbar color="primary">
  <span>my.awae.ch</span>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <h1>Log In</h1>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
      <br/>
      <p class="failureBanner" *ngIf="problem">
        <mat-icon>warning</mat-icon>
        Login Failed
      </p>
      <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">
        <mat-icon>login</mat-icon>
        Log In
      </button>
    </mat-card-content>
  </mat-card>
</form>
