mat-card {
  max-width: 400px;
  margin: 10em auto;
  text-align: center;

  mat-card-header {
    text-align: center;
  }

}

.failureBanner {
  color: red;
  font-weight: bold;

  mat-icon {
    vertical-align: bottom;
  }

}
